<div class="ui container">
  <br>
<h2 class="ui header">Current Product Catalogue</h2>
<button class="ui active button" (click)="onAddProduct()">
  <i class="add icon"></i>
  Add Product
</button>
<br>
<app-loading *ngIf="loading"></app-loading>
<br>
<div *ngIf="!loading && products && products.length > 0">
  <table class="ui very basic collapsing celled table">
    <thead>
      <tr><th>Product Name</th>
      <th>Qty Available</th>
      <th>Price</th>
      <th>Description</th>
    </tr></thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <h4 class="ui image header">
            <img src="https://icons.iconarchive.com/icons/custom-icon-design/pretty-office-11/48/sale-icon.png" class="ui mini rounded image">
            <div class="content">
              {{ product.name }}
              <div class="sub header">{{ product.category | titlecase }}
            </div>
          </div>
        </h4></td>
        <td>
          {{ product.quantityAvailable }}
        </td>
        <td>{{ product.price | currency:'UGX ' }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>