<div class="ui container">
  <br>
<h2>All Product Orders</h2>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading && orders && orders.length > 0">
  <table class="ui striped table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Order From</th>
        <th>Email</th>
        <th>Status</th>
        <th>Payment Method</th>      
        <th>Products</th>      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ convertDate(order.orderDate) }}</td>
        <td>{{ order.user.name }}</td>
        <td>{{ order.user.email }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.paymentMethod }}</td>
        <td>({{ order.products.length }})</td>
      </tr>
    </tbody>
  </table>
</div>
</div>