<div class="ui container">
  <br>
<form class="ui form" (ngSubmit)="onSaveProduct(form.value)" #form="ngForm">
  <h4 class="ui dividing header">Fill in Product Information</h4>
  <div class="field">
    <div class="two fields">
      <div class="field">
        <label>Product Name</label>
        <input name="name" ngModel #name="ngModel" type="text" placeholder="Product Name">
      </div>
      <div class="field">
        <label>Category</label>
      <input name="category" ngModel #category="ngModel" placeHolder="Product Category">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Description</label>
    <textarea name="description" ngModel #description="ngModel" ></textarea>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Product's Price</label>
      <input name="price" ngModel #price="ngModel" type="text" placeholder="Product's Price">
    </div>

    <div class="field">
      <label>Quantity Available</label>
      <input type="text" name="quantityAvailable" ngModel #quantityAvailable="ngModel" placeholder="Product's Price">
    </div>

    <div class="field">
      <label>Product Image</label>
      <input type="text" name="coverImage" ngModel #coverImage="ngModel" placeholder="Product's Image">
    </div>
  </div>
  <br>
  <button *ngIf="!loading" class="ui secondary button" tabindex="0">Save Product</button>
  <app-loading *ngIf="loading"></app-loading>
</form>
</div>