<br>
<form class="ui form">
  <h4 class="ui dividing header">Fill in Product Information</h4>
  <div class="field">
    <div class="two fields">
      <div class="field">
        <label>Product Name</label>
        <input type="text" name="shipping[first-name]" placeholder="Product Name">
      </div>
      <div class="field">
        <label>Category</label>
      <select class="ui fluid dropdown">
        <option value="">Select Product Category</option>
    <option value="AL">Alabama</option>
    <option value="WI">Wisconsin</option>
    <option value="WY">Wyoming</option>
      </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Description</label>
    <textarea></textarea>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Product's Price</label>
      <input type="text" name="shipping[first-name]" placeholder="Product's Price">
    </div>

    <div class="field">
      <label>Quantity Available</label>
      <input type="text" name="shipping[first-name]" placeholder="Product's Price">
    </div>

    <div class="field">
      <label>Product Image</label>
      <input type="text" name="shipping[first-name]" placeholder="Product's Image">
    </div>
  </div>
  <br>
  <div class="ui button" tabindex="0">Save Product</div>
</form>