<div class="ui container">
  <br>
  <h2 class="ui header">Add Safe Water administrator</h2>

  <form class="ui form">
    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input type="text" name="shipping[first-name]" placeholder="First Name">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" name="shipping[last-name]" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="field">
      <div class="three fields">
        <div class="field">
          <label>Email</label>
          <input type="text" name="shipping[address]" placeholder="Street Address">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="shipping[address-2]" placeholder="Password">
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <input type="password" name="shipping[address-2]" placeholder="Confirm Password">
        </div>
      </div>
    </div>
    <br>
    <div class="ui button" tabindex="0">Save Admin</div>
  </form>
</div>
