<div class="ui container">
  <app-loading *ngIf="loading"></app-loading>

  <div *ngIf="!loading && order">
    <br>
    <h2 class="ui title">ORDER REFERENCE - {{ order.id }}</h2>

    <div class="ui divider"></div>

    <div class="ui small horizontal list">
      <div class="item">
        <i class="calendar alternate outline icon"></i>
        <div class="content">
          <div class="header">Date</div>
          {{ convertDate(order.orderDate) }}
        </div>
      </div>
      <div class="item">
        <i class="user circle outline icon"></i>
        <div class="content">
          <div class="header">Customer</div>
          {{ order.name }}
        </div>
      </div>
      <div class="item">
        <i class="cc visa icon"></i>
        <div class="content">
          <div class="header">Payment Method</div>{{ order.paymentMethod }}
        </div>
      </div>
      <div class="item">
        <i class="money bill alternate outline icon"></i>
        <div class="content">
          <div class="header">Total Amount Due</div>{{ total | currency: 'UGX ' }}
        </div>
      </div>
    </div>

    <h3 class="ui header">Products Ordered</h3>
    <div *ngFor="let product of order.products" class="ui divided items">
      <div class="item">
        <div class="ui small image">
          <img class="image" [src]="product.coverImage" />
        </div>
        <div class="content">
          <a class="header">{{ product.name }}</a>
          <div class="meta">
            <span class="cinema">{{ product.category }}</span>
          </div>

          <div class="extra"><div class="ui label">
            <i class="money bill alternate outline icon"></i> {{ product.price | currency: 'UGX: ' }}
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>
      <br>
      <div *ngIf="order.status === 'pending' && !onprocessOrder">
        <div (click)="onConfirmOrder()" class="ui animated fade button" tabindex="0">
          <div class="visible content">Confirm Order</div>
          <div class="hidden content">
            {{ total | currency: 'UGX ' }}
          </div>
        </div>

        <button class="ui negative button" style="margin-left: 30px;" (click)="onCancelOrder()">Cancel Order</button>
      </div>

      <app-loading *ngIf="onprocessOrder"></app-loading>

      <!-- Cancel Message -->
      <div *ngIf="order.status === 'cancelled' && !onprocessOrder" class="ui info message">
        <i class="close icon"></i>
        <i class="close icon"></i>
        <div class="header">
          The order with reference <span>{{ order.id }}</span> has been cancelled.
        </div>
        <p>You can go ahead and delete it or archive it for book keeping</p>

        <button class="ui teal button">Archive</button>
        <button class="ui negative button" (click)="onDeleteOrder()">Delete</button>
      </div>

      <!-- Comfirm Message -->
      <div *ngIf="order.status === 'confirmed' && !onprocessOrder" class="ui success message">
        <i class="close icon"></i>
        <div class="header">
          The order with reference <span>{{ order.id }}</span> has been confirmed.
        </div>
        <p>You can go ahead and delete it or archive it for book keeping</p>

        <button class="ui teal button" (click)="onArchiveOrder()">Archive</button>
        <button class="ui negative button" (click)="onDeleteOrder()">Delete</button>
      </div>

      <!-- Archive Message -->
      <div *ngIf="order.status === 'archived' && !onprocessOrder" class="ui info message">
        <i class="close icon"></i>
        <div class="header">
          The order with reference <span>{{ order.id }}</span> has been archived.
        </div>
        <p>You can go ahead and delete it or continue to process other orders.</p>

        <button class="ui teal button" (click)="onContinue()">Continue</button>
        <button class="ui negative button" (click)="onDeleteOrder()">Delete</button>
      </div>
      <br><br>
  </div>

  <div *ngIf="!order && !loading">
    <br>
    <div class="ui placeholder segment">
      <div class="ui icon header">
        <i class="pdf file outline icon"></i>
        Order is unavailable or has been deleted
      </div>
      <div class="ui primary button" (click)="onContinue()">Continue</div>
    </div>
  </div>
</div>
